---
<<<<<<< HEAD
import Layout from '../layouts/Layout.astro';
import Mainvisual from '../components/Mainvisual.astro';
import Form from '../components/Form.astro';
import Introduction from '../components/Introduction.astro';
import Worry from '../components/Worry.astro';
import Solution from '../components/Solution.astro';
import Reason from '../components/Reason.astro';
import Visit from '../components/Visit.astro';
import Voice from '../components/Voice.astro';
import Conditions from '../components/Conditions.astro';
=======
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
>>>>>>> d0673803388ed0abc722dfecdfd3458272cc143f

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
<<<<<<< HEAD
	<main class="max-w-md mx-auto">
		<Mainvisual />
		<Introduction />
		<Worry />
		<Solution />
		<Reason />
		<Visit />
		<Voice />
		<Conditions />
		<Form />
	</main>
=======
	<Welcome />
>>>>>>> d0673803388ed0abc722dfecdfd3458272cc143f
</Layout>
