---
import Layout from '../layouts/Layout.astro';
import Mainvisual from '../components/Mainvisual.astro';
import Form from '../components/Form.astro';
import Introduction from '../components/Introduction.astro';
import Worry from '../components/Worry.astro';
import Solution from '../components/Solution.astro';
import Reason from '../components/Reason.astro';
import Visit from '../components/Visit.astro';
import Voice from '../components/Voice.astro';
import Conditions from '../components/Conditions.astro';
---

<Layout>
    <main class="max-w-md mx-auto">
        <Mainvisual />
        <Introduction />
        <Worry />
        <Solution />
        <Reason />
        <Visit />
        <Voice />
        <Conditions />
        <Form />
    </main>
</Layout>