---

//メインビジュアル
---

<section class="mv relative w-full bg-white" >
    <img src="/images/mainvisual.webp" alt="">
    <div class="mv_button_area">
        <button class="cta">
            <a href="/">
                <span>カンタン30秒</span>
                今すぐ見学予約する
            </a>
        </button>
    </div>
</section>