---

//メインビジュアル
---

<section class="mv relative w-full bg-white" >
    <img src="/images/mainvisual.webp" alt="高齢者専用シェアハウス。入居者募集開始！">
    <div class="mv_button_area">
        <button class="cta">
            <a href="#form">
                <span>カンタン30秒</span>
                今すぐ見学予約する
            </a>
        </button>
    </div>
</section>