---
import SectionHeading from '../components/SectionHeading.astro';
import ReasonCarousel from '../components/ReasonCarousel.astro';
// お悩みコンポーネント
---

<section class="reason w-full bg-white">
    <div class="img_wrap">
        <img src="/images/material/hirameki.png" alt="電球">
    </div>
    <SectionHeading text='結いの杜が選ばれる理由' />
    <ReasonCarousel />
</section>