---
import SectionHeading from '../components/SectionHeading.astro';
// お悩みコンポーネント
---

<section class="solution w-full p-6 bg-white">
    <div class="circle">その<br />お悩み</div>
    <h3>『結いの杜』が解決します !</h3>
    <p class="desc">
        施設ではなく、あくまで「シェアハウス」。
        <br />だからこそ、ご本人のプライドを保ちながら、
        <br />必要なサポートを必要な分だけ受けることができます。
        <br />医療・福祉サービスと連携し、
        <br />ご家族も安心できる環境を提供します。
    </p>
    <div class="img_area">
        <img src="/images/material/group_1.png" alt="グループ">
    </div>
</section>