---
import SectionHeading from '../components/SectionHeading.astro';
// 声コンポーネント
---

<section class="voice w-full bg-white overflow-hidden">
    <SectionHeading text='入居者様・ご家族の声' />
    <ul class="voice_list">
        <li class="voice_item">
            <div class="tag_wrap">
                <div class="tag">40代 娘さん</div>
            </div>
            <h3>何の心配もなく、安心して任せられます</h3>
            <p>
                親切で良心的な介護のお世話が行き届いています。
                <br />仕事で日中面倒が見られないのが不安でしたが、
                <br />ここなら安心です。
            </p>
            <div class="icon">
                <img src="/images/material/human_3.png" alt="人物アイコン①">
            </div>
        </li>
        <li class="voice_item right">
            <div class="tag_wrap">
                <div class="tag">50代 息子さん</div>
            </div>
            <h3>年金の範囲内で入居できて助かりました</h3>
            <p>
                年金内での施設入所は無理だと思っていましたが、
                <br />入所できて本当にありがたいです。
                <br />経済的な不安がなくなりました。
            </p>
            <div class="icon">
                <img src="/images/material/human_4.png" alt="人物アイコン①">
            </div>
        </li>
        <li class="voice_item">
            <div class="tag_wrap">
                <div class="tag">60代 ご家族</div>
            </div>
            <h3>スタッフの寄り添う姿勢に感謝</h3>
            <p>
                スタッフの皆さんが、入居者にしっかりと寄り添っている姿を拝見して、ここにお願いしてよかったと心から思っています。
            </p>
            <div class="icon">
                <img src="/images/material/human_5.png" alt="人物アイコン①">
            </div>
        </li>
    </ul>
    <div class="circle" id="circle-1"><img src="/images/material/voice_circle.png" alt="ふんわりとした球体"></div>
    <div class="circle" id="circle-2"><img src="/images/material/voice_circle.png" alt="ふんわりとした球体"></div>
    <div class="circle" id="circle-3"><img src="/images/material/voice_circle.png" alt="ふんわりとした球体"></div>
    <div class="circle" id="circle-4"><img src="/images/material/voice_circle.png" alt="ふんわりとした球体"></div>
    <div class="circle" id="circle-5"><img src="/images/material/voice_circle.png" alt="ふんわりとした球体"></div>
    <div class="circle" id="circle-6"><img src="/images/material/voice_circle.png" alt="ふんわりとした球体"></div>
</section>