---
import SectionHeading from '../components/SectionHeading.astro';
// お悩みコンポーネント
---

<section class="worry w-full p-6 bg-white">
    <h3>こんな<span>お悩み</span>ありませんか？</h3>
    <ul class="worry_list">
        <li class="worry_item">老人ホームを勧めても<br />「まだ歩けるわよ!」と怒られる…</li>
        <li class="worry_item">国民年金しかなく、入れる施設が<br />なかなか見つからない…</li>
        <li class="worry_item">仕事があり、日中親の面倒を<br />見られず不安…</li>
        <li class="worry_item">急な体調変化に対応できる<br />環境に入ってほしい…</li>
    </ul>
    <div class="image_area">
        <div class="image_wrap man">
            <img src="/images/material/human_2.png" alt="困っている男の人">
        </div>
        <div class="image_wrap woman">
            <img src="/images/material/human_1.png" alt="困っている女の人">
        </div>
    </div>
</section>